.navBar {
  display: flex;
  height: 70px;

  justify-content: space-between;
  padding: 5px 70px;
  .left {
    display: flex;

    align-items: center;
    gap: 5px;
    .title {
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      span {
        color: #b66055;
      }
    }
  }
  .centre {
    display: flex;
    align-items: center;
    gap: 30px;
    span {
      font-size: 18px;
      font-weight: 500;
      transition: 0.3s;
    }
    span:hover {
      color: #b66055;
      cursor: pointer;
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 20px;
    .profile {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 0;
      img {
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 50%;
      }
      p {
        text-decoration: none;
        font-size: 20px;
      }
    }
    .login {
      background-color: #ebebeb;
    }
    .signUp {
      color: white;
      background-color: #b66055;
    }
  }
}
